/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root styles */
:root {
  font-size: 16px;
  --primary-font: #232323;
  --secondary-font: #747474;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

/* Utilty classes */
.text-center {
  text-align: center;
}

.name,
.level {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ff0000, #0000ff, #00ff00);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--primary-font);
  transition: rainbow .2s ease-in-out;
  font-weight: 900;
  cursor: none;
}

.name:hover,
.level:hover {
  color:rgba(0,0,0,0);
}
  
.gradient-text{
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ff0000, #0000ff, #00ff00);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--primary-font);
  font-size: 2rem;
  text-align: center;
  transition: color .2s ease-in-out;
  text-transform: uppercase;
  font-weight: 900;
  cursor: none;
}

.gradient-text:hover{
  color:rgba(0,0,0,0);
}

/* Keyframes */
@keyframes rainbow {
  0% {background-position:left}
  50% {background-position:right}
  100% {background-position:left}
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  animation: bg-scrolling-reverse 0.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

#home {
  padding: 2rem 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav-item {
  padding: 8px;
  border-radius: 12px;
  color: rgb(24, 24, 24);
  transition: .2s ease-in;
}

.nav-item:hover {
  background-color: rgb(33, 33, 33);
}

.link {
  font-size: 1.4rem;
  font-weight: 600;
}

#intro {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50%, auto);
  min-height: 82vh;
}

#intro div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.4;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text {
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 2rem;
  color: var(--primary-font);
  text-shadow: 2px 2px 5px #ffffff;
}

#portfolio {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 3rem;
}

.project {
background-color: #eee;
padding: 20px;
border-radius: 10px;
}

.project-img {
background-size: cover;
background-position: center;
}
  
ul li:hover a {
color: white;
}

#contact {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 1.5rem;
}

.footer-text {
  color: var(--primary-font);
  font-weight: bold;
  font-size: 1.3rem;
}

.social-links {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#show-form {
  background-color: #5c5c5c;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.grid-container > div:last-child {
  display: flex;
  flex-direction: column;
}

.grid-container > div:last-child > * {
  margin-bottom: 10px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

#contact-form button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

/* Breakpoint for tablets */
@media only screen and (max-width: 768px) {
:root {
  font-size: 14px;
}
.header {
  margin: 10px;
  padding: 5px;
}
#intro {
  padding: 10px;
  font-size: 1.4rem;
}
.nav-item {
  padding: 5px;
  font-size: 0.9rem;
}
#portfolio {
  grid-template-columns: repeat(2, 1fr);
}
#social-links {
  scale: 0.7;
}
#show-form {
  padding: 7px 14px;
}
}

/* Breakpoint for mobile devices */
@media only screen and (max-width: 710px) {
  :root {
    font-size: 0.8rem;
  }
  .header {
    margin: 1rem;
    padding: 1rem;
  }
  .nav-item {
    padding: 1rem;
    font-size: 0.8rem;
  }
  #intro {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Extra breakpoint for navbar */
@media screen and (min-width:561px) and (max-width: 709px) {
  .header,
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #intro {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  #intro img {
    scale: 0.5;
  }
}

@media screen and (max-width: 560px) {
  .header,
  .nav {
    flex-direction: column;
    gap: 5px;
  }
  .header h1 {
    font-size: 1.8rem;
  }
  .link {
    font-size: 1rem;
  }
  #portfolio {
    grid-template-columns: repeat(1, 1fr);
  }
  #intro {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  #intro img {
    scale: 0.5;
  }
}